
#prodetails{
    background-image: url(../../../public/blackbg.jpg);
}

#prodetails .single-pro-image{
    width: 40%;
    margin: 50px;
}

#prodetails{
    padding-top: 5%;
    display: flex;
    margin-top: 0;
    display: flex;
    padding-bottom: 5px;
}

.uls{
    list-style-type: disc;
    padding-left: 5%;
}

#prodetails .single-pro-details{
    width: 50%;
    padding: 30px;
    margin-top: 20px;
    color: aliceblue;

}



#prodetails .single-pro-details .h4-single {
    padding: 10px 0px 10px 0;
    
}

#prodetails .single-pro-details .h2-single {
    font-size: 23px;
}

#prodetails .single-pro-details span {
    line-height: 25px;
}

